.message {
    position: relative;
    margin-bottom: 30px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
}

.imageAndText img {
    width: 48px;
    height: 48px;
    align-self: flex-end;
}

.text {
    text-align: end;
    max-width: 80%;
    width: fit-content;
    margin-right: 16px;

    padding: 7px 13px;

    color: white;
    font-family: inherit;

    background-color: #0066CC;
    border-radius: 6px 6px 0 6px;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03);
    filter: drop-shadow(0 1px 2px rgba(29, 33, 38, 0.1))
}

.text::after {
    content: '';
    position: absolute;
    border: 7px solid transparent;
    border-bottom: 7px solid #0066CC;
    border-left: 7px solid #0066CC;
    right: -12px;
    bottom: 0;
}


.messageText {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    word-wrap: break-word;
    font-size: 16px;
    font-weight: 400;
}

.name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
}

.time {
    margin-top: 2px;
    position: absolute;
    right: 10px;
    font-weight: 600;
    font-size: 10px;
    font-family: inherit;
}