.tech {
    width: 50vw;
}

.developer {

}

.techHeader {
    width: 50vw;
    display: flex;
}

.developerHeader {
    display: flex;
}

.row {
    display: flex;
    padding: 10px 20px;
}

.row:not(:last-child) {
    border-bottom: 1px solid #E5E5E5;
}

.rowHeader {
    display: flex;
    background-color: #E5E5E5;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.loading {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 48px;
    height: 48px;
    display: block;
    margin:15px auto;
    color: #FFF;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loading::after,
.loading::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    background-color: #67b0b0;
    border-radius: 50%;
    animation: scale50 1s infinite ease-in-out;
}
.loading::before {
    top: auto;
    bottom: 0;
    background-color: #FF3D00;
    animation-delay: 0.5s;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes scale50 {
    0%, 100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}