.radio {
    background-color: transparent;
    appearance: none;
}

.radio::before {
    content: '';
    position: absolute;
    display: block;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(256,256,256,1),
    0 0 0 4px rgba(0,0,0,1);
    background-color: white;
}


.radio:checked::before {
    background-color: black;
}

.label {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    padding-left: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 22px;
}
