.App {
    --header_height: 60px;
    align-content: center;
    height: 100vh;
    min-width: 600px;
}

.hw {
    min-width: 100%;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 24px 70px;
}

.hwTitle {
    margin: 0 70px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
}